/* * {
    border: solid 1px red;
} */

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%!important;
}

#nav-container {
    margin: 0 auto;
    max-width: 1190px;
}

.navigation {
    width: 49%;
    display: inline-block;
}